<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -San Gabriel|ASP.net</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/chosen.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables/DataTables-1.10.25/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/Awesome/all.min.css" rel="stylesheet" />
    <link href="~/Content/mdb.min.css" rel="stylesheet" />

</head>
<body class="lighten-3">
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">

                <!-- Brand -->
                @*<a class="navbar-brand waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
                        <strong class="blue-text">MDB</strong>
                    </a>*@

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon ">12</span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="/Home/Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li>@Html.ActionLink("Atenciones", "index", "Atenciones", null, new { @class = "nav-link waves-effect", })</li>

                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin", null, new { @class = "nav-link waves-effect" })</li>
                            <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin", null, new { @class = "nav-link waves-effect" })</li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mantenimiento</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @Html.ActionLink("Medicos", "Index", "Medicos", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Examenes medicos", "Index", "ExaMedicoes", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Aptitudes", "Index", "Aptituds", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Especialidades(interconsulta)", "Index", "EspecialidadMedicas", null, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        }
                    </ul>

                    <!-- Right -->

                    @Html.Partial("_LoginPartial")

                </div>

            </div>
        </nav>
        <!-- Navbar -->
        <!-- Sidebar -->
        @*<div class="sidebar-fixed position-fixed">

                <a class="logo-wrapper waves-effect">
                    <img src="https://mdbootstrap.com/img/logo/mdb-email.png" class="img-fluid" alt="">
                </a>

                <div class="list-group list-group-flush">
                    <a href="/Home/Index" class="list-group-item active waves-effect">
                        <i class="fas fa-chart-pie mr-3"></i>Dashboard
                    </a>
                    <a href="/Home/Profile" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-user mr-3"></i>Profile
                    </a>
                    <a href="/Home/Tables" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-table mr-3"></i>Tables
                    </a>
                    <a href="/Home/Maps" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-map mr-3"></i>Maps
                    </a>
                    <a href="/Home/Orders" class="list-group-item list-group-item-action waves-effect">
                        <i class="fas fa-money-bill-alt mr-3"></i>Orders
                    </a>
                </div>

            </div>*@
        <!-- Sidebar -->

    </header>

    <div class="container-fluid mt-5">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SanGabriel</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    @*Datatables*@
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <script src="~/Content/DataTables/Buttons-1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/DataTables/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/Content/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="~/Content/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="~/Content/DataTables/Buttons-1.7.1/js/buttons.html5.min.js"></script>
    <script src="~/Content/Awesome/all.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
