@model SG_ASP_3.Models.MedicinaViewModel

@{
    ViewBag.Title = "Detalles";
}


<h5>Atenciones</h5>
<hr />
<div>
    <dl class="row">

        <dt class="col-sm-3 text-right">Documento de identidad</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayText("DocIde")</dd>

        <dt class="col-sm-3 text-right">Nombre y apellido</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayText("NomApe")</dd>

        <dt class="col-sm-3 text-right">Empresa</dt>
        <dd class="col-sm-9 text-left">@Html.DisplayText("Empres")</dd>
    </dl>
</div>
<h2>Detalles</h2>
<div>
    <h4>Medicina</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 text-right">
            @Html.DisplayNameFor(model => model.oMedicina.Aptitud.Descri)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.oMedicina.Aptitud.Descri)
        </dd>

        <dt class="col-sm-3 text-right">
            @Html.DisplayNameFor(model => model.oMedicina.Medico.NomApe)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.oMedicina.Medico.NomApe)
        </dd>

        <dt class="col-sm-3 text-right">
            @Html.DisplayNameFor(model => model.oMedicina.HorIng)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.oMedicina.HorIng)
        </dd>

        <dt class="col-sm-3 text-right">
            @Html.DisplayNameFor(model => model.oMedicina.HorSal)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.oMedicina.HorSal)
        </dd>

        <dt class="col-sm-3 text-right">
            @Html.DisplayNameFor(model => model.oMedicina.FecApt)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.oMedicina.FecApt)
        </dd>

        <dt class="col-sm-3 text-right">
            @Html.DisplayNameFor(model => model.oMedicina.FecEnv)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.oMedicina.FecEnv)
        </dd>

        <dt class="col-sm-3 text-right">
            @Html.DisplayNameFor(model => model.oMedicina.Coment)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.oMedicina.Coment)
        </dd>

        <dt class="col-sm-3 text-right">
            @Html.DisplayNameFor(model => model.oMedicina.Observ)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.oMedicina.Observ)
        </dd>

        <dt class="col-sm-3 text-right">
            @Html.DisplayNameFor(model => model.oMedicina.UserName)
        </dt>

        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.oMedicina.UserName)
        </dd>
    </dl>
</div>
<br />
<h2>Interconsultas</h2>
@if (Model.oInterconsulta.Count >= 1)
{
    <table class="table table-bordered table-dark">

        <tr>
            <th>Id</th>
            <th>Interconsulta</th>
            <th>Fecha de envio</th>
            <th>Personal que envió el correo</th>
            <th>Envio de hoja informativa</th>
            <th>Fecha de comicación al paciente</th>
            <th>Personal que comunicó al paciente</th>
            <th>Fecha de levantamiento de observaciones</th>
        </tr>

        @foreach (var Item in Model.oInterconsulta)
        {
            <tr>
                <td>@Html.DisplayFor(Model => Item.IdInter)</td>
                <td>@Html.DisplayFor(Model => Item.Descri)</td>
                <td>@Html.DisplayFor(Model => Item.FecEnv)</td>
                <td>@Html.DisplayFor(Model => Item.PeEnCo)</td>
                <td>@Html.DisplayFor(Model => Item.EnHoIn)</td>
                <td>@Html.DisplayFor(Model => Item.FeCoPa)</td>
                <td>@Html.DisplayFor(Model => Item.PeCoPa)</td>
                <td>@Html.DisplayFor(Model => Item.FeLeObs)</td>
            </tr>
        }

    </table>

}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.oMedicina.IdMedicina }) |
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
