@model SG_ASP_3.Models.AdmisionViewModel

@{
    ViewBag.Title = "Asistencia";
}

<h2>Asistencia</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Admision</h4>
        <hr />
        
        <div>
            <table class="table table-bordered table-active">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Empresa</th>
                        <th>DNI</th>
                        <th>Nombre y apellido</th>
                        <th>Hora ingreso</th>
                        <th>Hora registro</th>
                        <th>Hora salida</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Atenciones.Count; i++)
                    {
                    <tr>
                        <td>@Html.EditorFor(m => Model.Atenciones[i].IdAtenciones, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                        <td>@Html.EditorFor(m => Model.Atenciones[i].Empres, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                        <td>@Html.EditorFor(m => Model.Atenciones[i].DocIde, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                        <td>@Html.EditorFor(m => Model.Atenciones[i].NomApe, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>
                        <td>@Html.EditorFor(m => Model.Atenciones[i].NomApe, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })</td>

                        @for (int j = 0; j < Model.Atenciones[i].Admisions.Count; j++)
                        {
                            <td>@Html.EditorFor(m => Model.Atenciones[j].Admisions.First().HorIng, new { htmlAttributes = new { @class = "form-control" } })</td>
                        }
                        
                    </tr>
                    }
                </tbody>
            </table>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
