@model SG_ASP_3.Models.Auditoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auditoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Atenciones.Local0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atenciones.Local0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medico.NomApe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.NomApe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExaCom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExaCom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExaCom1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExaCom1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatInc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatInc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatInc1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatInc1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AptErr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AptErr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AptErr1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AptErr1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaFiMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaFiMe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaFiMe1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaFiMe1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaFiPa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaFiPa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaFiPa1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaFiPa1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restri1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restri1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contro1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contro1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagno1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagno1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrLle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrLle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrLle1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrLle1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObNoRe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObNoRe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmSnOb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmSnOb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmSnOb1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmSnOb1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorAud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorAud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecAud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecAud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OmiInt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OmiInt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OmiInt1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OmiInt1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAudi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
